.text-shadow{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.backdrop-filter{
    background: rgba(255,255,255,0.05);
    box-shadow:  0 15px 25px rgba(0,0,0, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
